%ul.wrapper
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img01.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img02.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img03.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img04.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img01.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img02.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img01.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img02.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img03.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img04.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img01.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img02.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img01.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img02.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img03.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img04.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img01.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img02.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img01.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img02.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img03.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img04.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img01.jpg"}/
  %li.fadeInUp
    %img{:alt => "", :src => "http://mias.kilo.jp/material/photo/img02.jpg"}/
